.footer__nav {
    background-color: #222222;
    padding: 4rem 0;
    border-top: 0.1rem solid #D5C9BE;
    border-bottom: 0.1rem solid #D5C9BE;
}

.footer__list {
    display: flex;
    justify-content: center;
    gap: 2.9rem;

    font-style: italic;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 2rem;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__wrapper_top {
    gap: 3rem;
    padding: 4.3rem 0 3.8rem;
}

.footer__logo {
    font-family: Prata;
    font-size: 3.6rem;
    line-height: 150%;
    text-transform: uppercase;
    width: 23rem;
}

.footer__social-contacts {
    display: flex;
    justify-content: space-between;
    gap: 3.2rem;
}

.footer__social-icon {
    width: 3.2rem;
    height: 3.2rem;
}

.footer__btn-cont {
    width: 23rem;
    display: flex;
    justify-content: end;
}

.footer__btn {
    font-style: italic;
    font-weight: normal;
    padding: 3.2rem 0;
    width: 18rem;
    /* height: 7.8rem; */
}

.footer__btn:hover {
    padding: 3.1rem 0;
}

.footer__btn:focus {
    padding: 3.1rem 0;
}

.footer__wrapper_bottom {
    font-size: 2rem;
    line-height: 1;
    padding-bottom: 6rem;
}

.footer__copyright {
    width: 17rem;
}

.footer__terms {
    width: 17rem;
    display: flex;
    justify-content: end;
}

@media (max-width: 1024px) {
    .footer__logo {
        font-size: 3.2rem;
    }
}

@media (max-width: 970px) {
    .footer__wrapper_top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .footer__btn-cont {
        width: fit-content;
    }

}


@media (max-width: 768px) {
    .footer__nav {
        padding: 3rem 0;
    }

    .footer__wrapper_bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        text-align: center;
    }

    .footer__logo {
        font-size: 3rem;
        width: fit-content;

    }

    .footer__terms {
        justify-content: center;
    }

}

@media (max-width: 450px) {
    .footer__wrapper_top {
        gap: 2.5rem;
        padding: 3rem 0 3rem;
    }

    .footer__wrapper_bottom {
        padding-bottom: 4rem;
    }

    .footer__nav {
        padding: 2rem 0;
    }

    .footer__list {
        font-size: 1.6rem;
    }

    .footer__social-contacts {
        gap: 2rem;
    }

    .footer__btn {
        font-size: 2rem !important;
        width: 14rem;
        padding: 2.5rem 0;
    }

    .footer__btn:hover {
        padding: 2.4rem 0;
    }

    .footer__btn:focus {
        padding: 2.4rem 0;
    }
}