.header {
    background-color: #222222;
    position: relative;
}

.header__content {
    padding-top: 34rem;
    padding-bottom: 5rem;
    /* line-height: 120%; */
}

.header__heading {
    font-size: 8rem;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 5rem;
    max-width: 73.7rem;

}

.header__subheading {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 5rem;
    font-weight: normal;
    margin-bottom: 6.4rem;
    line-height: 120%;
    max-width: 83.7rem;

}

.header__list {
    display: flex;
    gap: 4.5rem;
    flex-direction: column;
    margin-bottom: 4rem;
}

.header__li {
    display: flex;
    align-items: center;
    gap: 1.7rem;
}

.header__li span {
    font-family: Prata;
    font-size: 4rem;
    letter-spacing: 4%;
    line-height: 100%;
}

.header__li::before {
    content: '';
    display: inline-block;
    width: 3.9rem;
    height: 3.9rem;
    background: url(../img/done.png) no-repeat;
}

.header__btn {
    padding: 3.6rem 5rem;
}

.header__btn:hover {
    background-color: #eee;
}

.header__img-cont {
    width: 40%;
    height: 100%;
    background: url(../img/header.png);
    position: absolute;
    top: 0;
    right: 0;
}