@import './resets.css';
@import './fonts.css';
@import './header.css';
@import './top-header.css';
@import './benefits.css';
@import './for-swiper.css';
@import './for-swiper-coverflow.css';
@import './registration.css';
@import './footer.css';

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 140%;
    color: #fff;
    background-color: #282829;
}

.wrapper {
    width: 96%;
    max-width: 160rem;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Prata';
}

a {
    color: #fff;
}

.btn {
    font-size: 2.4rem;
    letter-spacing: 4%;
    text-transform: uppercase;
    border-radius: 0.4rem;
    cursor: pointer;
    text-align: center;
}

.btn_white {
    /* for anchors */
    display: inline-block;
    background-color: #fff;
    color: #000;
    line-height: 1;
}

.btn_white:hover {
    /* background-color: #eee; */
    background-color: #282829;
    color: #fff;
    border: 1px solid #fff;
}

.btn_white:focus {
    /* background-color: #eee; */
    background-color: #282829;
    color: #fff;
    border: 1px solid #fff;
}

.btn_black {
    background-color: #282829;
    color: #fff;
}

.btn_black:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #282829;
}

.btn_black:focus {
    background-color: #fff;
    color: #000;
    border: 1px solid #282829;
}

.img-cont {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}