@import './resets.css';
@import './header.css';
@import './top-header.css';
@import './benefits.css';

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 140%;
    color: #fff;
    background-color: #282829;
}

.wrapper {
    width: 96%;
    max-width: 159.7rem;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Prata';
}

a {
    color: #fff;
}

.btn {
    background-color: #fff;
    color: #000;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 4%;
    text-transform: uppercase;
    border-radius: 0.4rem;
    cursor: pointer;
}

.img-cont {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}